:root {
    --sidebar-color: #0ea5e9;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    margin: 0;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-color);
    display: grid;
    grid-column:1/2;
    grid-row: 1/3;
    grid-template-rows: 1fr 3fr 6fr;
    color: white;
}

header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.dashboard {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding-left: 0.5em;
    margin-bottom: 20px
}

.dashboard svg{
    max-width: 50px;
    max-height: 50px;
}

.sidebar .list-item{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.sidebar ul li {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    list-style: none;
}

.sidebar svg {
    fill: white;
}

.sidebar ul {
    margin: 0;
    padding: 0px 1em;
}