@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --sidebar-color: #0284c7;
    font-family: Roboto;
    --background-color: #cbd5e1;
    --card-slit: #075985;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    margin: 0;
    height: 100vh;
    background-color: var(--background-color);
}

.sidebar {
    background-color: var(--sidebar-color);
    display: grid;
    grid-column:1/2;
    grid-row: 1/3;
    grid-template-rows: 1fr 3fr 6fr;
    color: white;
    box-shadow: 1px 1px 1px #888888;
    gap: 30px
}

header {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    box-shadow: 1px 1px 6px #888888;
    align-items: center;
    background-color: white;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.dashboard {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.dashboard svg{
    max-width: 50px;
    max-height: 50px;
}

.sidebar .list-item{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.sidebar ul li {
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    list-style: none;
}

.sidebar svg {
    fill: white;
}

.sidebar ul {
    margin: 0;
    padding: 0px 1em;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 12fr;
    align-items: center;
}

.searchbar svg {
    transform: scale(0.6); 
}

.searchbar input {
    width: 80%;
    margin-left: 10px;
    border-radius: 12px;
    background-color: var(--background-color);
    border: none;
    padding: 5px;
}

.searchbar-info {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
    gap: 20px;
}

.searchbar-info svg {
    max-width: 30px;
}

img {
    max-width: 50px;
    border-radius: 50%;
}

.user-info {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 30px;
    font-weight: bold;
}

.user-info img {
    max-width: 65px;
}

.user-info .name {
    font-size: 14pt;
    margin: 0;
}

.user-info p {
    margin: 0px 0px 5px;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}

.header-buttons > button {
    border-radius: 40px;
    padding: 10px;
    border: none;
    background-color: var(--sidebar-color);
    font-weight: bold;
    color: white;
}

.projects {
    padding: 0 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap:20px;
}

.projects .card {
    font-size: 10pt;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 1px 1px 6px #888888;
    border-left: 5px solid var(--card-slit);
}

.card > .title {
    font-weight: bold;
}

